  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Contact Importer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <form class="d-flex">
        <% unless !user_signed_in? %>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <%= link_to "#{current_user.email}", edit_user_registration_path, class: 'btn btn-outline-light', type: "submit" %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light', type: "submit" %>
          </div>
        <% end %>
      </form>
    </div>
  </div>
</nav>